:root{
    --main_color: #ff206e;
    --white_color: white;
}

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------------------------------------------------------------- */
/* Loader ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

body{
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0;
}
  
#myLoading{
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 999999999999999999999;
}

#loaderDiv{
  margin: 0 0 2em;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1rem;
  display: inline-block;
  vertical-align: top;
}

#loaderSize{
  transform: scale(3);
}

/* ----------------------------------------------------------------------------- */
/* Navbar ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.navbar{
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.nav-tabs {
    border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    color: var(--main_color);
}
.nav-tabs .nav-link {
    border: none;
    color: gray;
}

/* ----------------------------------------------------------------------------- */
/* Home ------------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */

#home{
    background: url(../src/Images/bg_osaka.jpg);
    background-size: cover;
    background-position: center center;
    color: var(--white_color);
}

#home a{
    color: var(--main_color);
    text-decoration: none;
}

.icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.3) !important;
    transition: all 1s;
}

.icon:hover{
    border-color: var(--white_color) !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    color: var(--main_color);
}

.navbar-dark .navbar-nav .nav-link{
    color: var(--white_color);
    transition: all 0.5s;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: var(--main_color);
}


/* ----------------------------------------------------------------------------- */
/* About ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

#about{
    background-image: url(../src/Images/light_dot.jpg);
}


/* ----------------------------------------------------------------------------- */
/* Services -------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

#services{
    background-image: url(../src/Images/dark_dot.jpg);
}


.section_titel h2{
    color: #f1f1f1;
    font-size: 5rem;
    letter-spacing: 20px;
    font-weight: 900;
}



#about .about_p{
    color: var(--main_color);
}


#services .item h3::after{
    content: "";
    width: 20%;
    height: 2px;
    background-color: var(--main_color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all 1s;
}


#services .item:hover h3::after {
   width: 50%; 
}

#services i{
    transition: all 1s;
}

#services .item:hover i{
    color: var(--main_color);
}

.custom_img{
    width: 5rem;
    border-radius: 50%;
    transform:translateY(-50%);
}

.carousel-indicators [data-bs-target]{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-indent: 0;
}

/* ----------------------------------------------------------------------------- */
/* Footer ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.footer_logo{
    width: 200px;
    height: 200px;
    transition: all 0.5s;
    border: solid black 1px;
}

.footer_logo:hover{
    border: solid blueviolet 10px;
}

/* ----------------------------------------------------------------------------- */
/* Shared ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.Pointer{
    cursor: pointer;
}

.a_None{
    text-decoration: none;
}

.SM-BTN-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid black 3px;
    transition: transform 0.75s;
}
.SM-BTN-icon:hover{
    border: solid white 2px;
    transform: scale(1.25);
}

.GitHub{
    color: black;
}

.LinkedIn{
    color: #0366C3;
}

.Facebook{
    color: #1877F2;
}

.Twitter{
    color: #1877F2;
}

.Instagram{
    color: #E8067F;
}

.Youtube{
    color: red;
}

.TikTok{
    color: black;
}
